/* 폰트 */
@font-face {
  font-family: "EASTARJET-Medium";
  src: url(./assets/font/EASTARJET-Medium.otf);
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  color: #fff;
  font-family: "EASTARJET-Medium", sans-serif;
}

/* 공통적으로 자주쓰는 세로가운데정렬 */
.align_center {
  display: flex;
  align-items: center;
}
